body{
    background-color:  #d5d5d5
;
}

.container{  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 70px;
    
}
.navbar a{
    font-size: 23px;
    transition: all .2s ease-in-out, color 0.2s;
    text-shadow:  2px 2px #ff0000;
   color: rgb(250, 109, 15);
   text-decoration: none;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
li:hover{
    transform: scale(2);
    letter-spacing: 1.5px;
    
}
.dropdown {
    display: flex;
    flex-direction: column;
}

.dropdown:hover {
    transform: scale(1.1);
    letter-spacing: 1.5px;
}

.dropdown-content {
    display: none;
}

.dropdown:hover .dropdown-content {
    position: absolute;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    transition: .2s;
    transform: scale(1);

}

.dropdown-content:hover {
    letter-spacing: 3px;
}
a:hover{
    color: white;
}

img{
    width: 600px;
}
.imagem{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
h1{
    font-size: 50px;
    font-family: fantasy;
}
.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto{
    width: 180px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: x-large;
}

